[submodule "lib/litedram"]
	path = lib/litedram
	url = https://github.com/enjoy-digital/litedram
[submodule "lib/liteeth"]
	path = lib/liteeth
	url = https://github.com/enjoy-digital/liteeth
[submodule "lib/liteiclink"]
	path = lib/liteiclink
	url = https://github.com/enjoy-digital/liteiclink
[submodule "lib/litescope"]
	path = lib/litescope
	url = https://github.com/enjoy-digital/litescope
[submodule "lib/litex"]
	path = lib/litex
	url = https://github.com/enjoy-digital/litex
[submodule "lib/pythondata-cpu-cva6"]
	path = lib/pythondata-cpu-cva6
	url = https://github.com/litex-hub/pythondata-cpu-cva6.git
[submodule "lib/pythondata-cpu-rocket"]
	path = lib/pythondata-cpu-rocket
	url = https://github.com/litex-hub/pythondata-cpu-rocket.git
[submodule "lib/litex_verilog_axi_test"]
	path = lib/litex_verilog_axi_test
	url = https://github.com/enjoy-digital/litex_verilog_axi_test.git
[submodule "lib/openc906"]
	path = lib/openc906
	url = https://github.com/Icenowy/openc906.git
